<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/assets/css/profile.css">
  <link rel="stylesheet" href="/public/css/style_1.css">
  {{!-- Bootstrap --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  {{!-- Font --}}
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins|Roboto+Slab|Work+Sans&display=swap"
    rel="stylesheet">
  {{!-- Font awesome --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Profile</title>
</head>

<body>
  {{!-- Top bar--}}

  <div class="container-fluid border-bottom top-bar-desktop">
    <div class="container h-100 d-flex justify-content-around align-items-center pt-3 pb-3 flex-wrap">
      <div class="left-top-bar d-flex align-items-center justify-content-between">
        <a href="/">
          <img src="/public/images/logo.png" class="img-logo" alt="">
        </a>
      </div>


      <div class="right-top-bar">
        <form action="/Account/Logout" id="frmLogout" method="POST"></form>
        {{#if lcIsAuthenticated}}
        <div class="dropdown pl-2">
          <button class="btn btn-account dropdown-toggle text-dark" style="background: none; color: #ccc" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/public/images-upload/{{lcAuthUser.Avatar}}" class="avatar" alt="">
            {{lcAuthUser.Name}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/Account/Profile">Hồ sơ</a>
            <a class="dropdown-item" href="/editor">Quản lý bài viết</a>
            <a class="dropdown-item" href="/editor/accept">Bài viết đã xử lý</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript: $('#frmLogout').submit()">Đăng Xuất</a>
          </div>
        </div>
        {{else}}

        <a href="/Account/Sign-Up" class="top-bar-item">
          Đăng Kí
        </a>

        <a href="/Account/Sign-In" class="top-bar-item">
          Đăng Nhập
        </a>
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Body content--}}

  <div class="col-sm-12">
    <div class="main-content">
      <div class="card-title">
        <h3>Danh Sách</h3>
      </div>

      <div class="table-responsive "></div>
      <table class="table table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tiêu đề</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Chuyên mục</th>
            <th scope="col">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.listEditor}}
          <tr>
            <th scope="row">{{inc @index}}</th>
            <td>{{Title}}</td>
            <td>{{Status}}</td>
            <td>{{CatName}}</td>
            <td class="text-left">
              <a href="/editor/{{IDPage}}" class="btn btn-info " title="Xem chi tiết"><i class="fa fa-eye "
                  aria-hidden="true"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{!-- Script --}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  {{!-- Bootstrap --}}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- {{!-- Validation --}} -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
  <script src="/public/assets/js/validation.js"></script>
</body>

</html>